$icomoon-font-family: "bbs-icon" !default;
$icomoon-font-path: "fonts" !default;

$icon-checkmark-o: "\e913";
$icon-warning: "\e90e";
$icon-info: "\e90f";
$icon-expand-small: "\e912";
$icon-collapse-small: "\e907";
$icon-search: "\e904";
$icon-expand-big: "\e905";
$icon-collapse-big: "\e906";
$icon-arrow-pill: "\e908";
$icon-download: "\e909";
$icon-download-o: "\e90a";
$icon-download-alt: "\e90b";
$icon-check: "\e90c";
$icon-close: "\e90d";
$icon-play: "\e910";
$icon-pause: "\e911";
$icon-arrow-up: "\e900";
$icon-arrow-right: "\e901";
$icon-arrow-left: "\e902";
$icon-arrow-down: "\e903";

